<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/css/direction.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>



<body>



    <div class="wrapper">


        <header class="container">

            <a href="/"><img src="/static/image/logo.png" alt="site logo"></a>

            <nav>

                <ul>
                    <li><a href="/">Главная</a></li>
                    
                    <li><a href="/profile/logout">Выйти</a></li>
                </ul>

            </nav>

        </header>



        <div class="container mt-5">
            
            <div style="display: flex; gap: 40px;">



                <div style="flex: 1;">


                    <div class="row">
                        
                        <div class="col-md-9">

                            <div class="profile-block">


                                {% if error %}
                                    <div style="color: red; margin-bottom: 10px;">{{ error }}</div>
                                {% endif %}


                                <h3>Данные аккаунта</h3>

                                <p><b>Имя пользователя:</b> {{ user.username }}</p>

                                <p><b>Email:</b> {{ user.email }}</p>

                                <h3>Личные данные</h3>

                                <form action="/profile/update" method="post">

                                    <label>Фамилия: <input type="text" name="lname" value="{{ patient.lname }}" required></label><br>
                                    <label>Имя: <input type="text" name="fname" value="{{ patient.fname }}" required></label><br>
                                    <label>Телефон: <input type="text" name="phone" value="{{ patient.phone }}" required></label><br>
                                    <label>ДМС: <input type="text" name="dms" value="{{ patient.dms }}" required></label><br>

                                    <button type="submit">Сохранить изменения</button>

                                </form>



                                <h3>Смена пароля</h3>

                                <form action="/profile/change-password" method="post">

                                    <label>Старый пароль: <input type="password" name="old_password" required></label><br>
                                    <label>Новый пароль: <input type="password" name="new_password" required></label><br>
                                    <label>Повторите новый пароль: <input type="password" name="new_password2" required></label><br>

                                    <button type="submit">Сменить пароль</button>

                                </form>



                            </div>


                        </div>


                    </div>

                </div>


                <div class="profile-records-outer">


                    <h3 style="margin-left: 32px; margin-bottom: 12px;">Мои записи</h3>

                    <div class="profile-slider-wrapper">


                        <div class="profile-slider-btn-prev" style="margin-right: 10px;">

                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">

                              <path d="M15 6L9 12L15 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>

                            </svg>

                        </div>

                        <div class="swiper profile-cards">


                            <div class="swiper-wrapper">

                                {% for appt in appointments %}


                                <div class="swiper-slide">

                                    <b>{{ appt.doctor.fname }} {{ appt.doctor.lname }}</b><br>
                                    
                                    <span style="margin-top: 7px; font-size: 18px;">{{ appt.doctor.specialization }}</span><br>
                                    <span>{{ appt.date.strftime('%d.%m.%Y') }} {{ appt.time.strftime('%H:%M') }}</span><br>
                                    <span style="font-size: 15px; color: #888;">Статус: {{ appt.status }}</span>
                                    {% if appt.status == "запланировано" %}

                                    <form action="/appointment/cancel/{{ appt.id }}" method="post" style="display: inline; margin-top: 6px;">

                                        <button type="submit" class="btn btn-danger">Отменить запись</button>

                                    </form>

                                    {% endif %}

                                </div>

                                {% endfor %}

                            </div>

                        </div>


                        <div class="profile-slider-btn-next" style="margin-left: 10px;">

                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">

                              <path d="M9 6L15 12L9 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>

                            </svg>

                        </div>


                    </div>

                </div>


            </div>



        </div>


    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/js/profile.js"></script>



</body>
</html> 