@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Rubik:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar-thumb {
    background-color: #C69C72;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(25, 25, 25, 1);
}


html { 
    scroll-behavior: smooth; 
}


.video-bg {
    height: 100vh;
    width: 1400px;
    /* overflow: hidden; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* position: relative; */
    margin: 0 auto;
    /* padding: 50px 0; */
}

.video-bg video {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.video-bg__content {
    z-index: 2;
    /* font-size: 50px; */
    /* color: white; */
}

.effects {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: white;  
    /* цвет всего текста белый менять тут */

}

 

a {
    text-decoration: none;

}

image {
    max-width: 100%;
}

p {
    /* font-family: 'Merriweather', sans-serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 50%;
}

.container {
    margin: 0 auto;
    width: 1400px;
}

header {
    padding: 40px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;

}



.video-bg__content img {
    width: 100px;
    /* размер картинки лого */
    
}


header nav {
    float: right;
    width: 1300px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: right;
    /* word-spacing: 3px; */
    gap: 50px;
    font-size: larger;
    font-weight: 400;
    color: white;
    
}

header nav ul li {
    display: inline-block;

}

header nav ul li a {
    color: white;
}

header nav ul li:not(:active):not(.btn) a:hover {
    color: #ffffff;
    /* border-bottom: 2px solid white; */
    /* background-size: 100px 50px; */
    background-color: rgb(198,156,114, 0.7);
    border: 10px solid rgb(198,156,114, 0.025);
    padding: 1px 1px;
    border-radius: 50px;
    transition: all 300ms ease;
    
}

header nav ul li:not(:active):not(.btn) a:active {
    color: #ffffff;
    
}


header nav ul li.btn a {
    background-color: rgb(198,156,114, 0.7);
    border: 10px solid rgb(198,156,114, 0.025);
    padding: 5px 13px;
    border-radius: 50px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background-color: rgb(198,156,114, 1);
    border: 10px solid rgb(198,156,114, 0.7);
    padding: 5px 13px;
    border-radius: 50px;
}

.video-bg__content .hero {
    padding-bottom: 100px;
    position: relative;
}

.video-bg__content .hero--info {
    width: 700px;
    padding-top: 150px; 
    /* Отступ сверху от хедера */

}

.video-bg__content .hero--info h1 {
    font-size: 90px;
    font-weight: 600px;
}

.video-bg__content .hero--info p {
    font-size: 30px;
    font-weight: 500px;
    /* padding-top: 20px; */
    margin: 30px 0;
}

.video-bg__content .hero--info .btn {
    background-color: rgb(198,156,114, 0.7);
    border: 0;
    padding: 15px 50px;
    border-radius: 50px;
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

.video-bg__content .hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* АВОИРИЗАЦИЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯ ---------------------------------------- */

.input-main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper h2 {
    font-size: 25px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 30px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}



































